@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --Very-Dark-Grayish-Blue: rgb(72, 85, 106);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  font-family: "Manrope";
}
* {
  padding: 0;
  margin: 0;
}
h1 {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}
p {
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
}
body {
  min-height: 100vh;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-preview {
  display: flex;
  width: 700px;
  box-shadow: 20px 40px 40px rgba(72, 85, 106, 0.1);
  border-radius: 0 10px 10px 0;
  > img {
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 10px 0 0 10px;
  }
  .preview {
    display: grid;
    grid-template-rows: 3;
    row-gap: 10px;
    background-color: white;
    padding: 24px 24px 20px 24px;
    border-radius: 0 10px 0 0;
  }
  p {
    font-size: 13px;
  }
  #bottom-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 24px;
    border-radius: 0 0 10px 0;
    #share {
      border: none;
      padding: 10px;
      border-radius: 50%;
      background-color: var(--Light-Grayish-Blue);
      aspect-ratio: 1/1;
    }
    #share:hover {
      cursor: pointer;
    }
    img {
      cursor: pointer;
    }
  }
  #bottom-section #author {
    display: grid;
    grid-template-columns: 2;
    max-width: fit-content;
    column-gap: 10px;
    img {
      grid-column: 1;
      grid-row: 1/3;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    h1 {
      align-self: flex-end;
      grid-column: 2;
    }
    p {
      align-self: flex-start;
      grid-column: 2;
    }
  }
  #bottom-section #share-section {
    display: none;
    background-color: var(--Very-Dark-Grayish-Blue);
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    right: -68px;
    bottom: 80px;
    width: 200px;

    gap: 10px;
    h1 {
      color: var(--Grayish-Blue);
      letter-spacing: 2px;
    }
  }
  #bottom-section #share-section::after {
    content: "";
    position: absolute;
    border-bottom: 0 solid var(--Very-Dark-Grayish-Blue);
    border-left: 14px solid transparent;
    border-top: 14px solid var(--Very-Dark-Grayish-Blue);
    border-right: 14px solid transparent;
    bottom: -14px;
    /* right: -13px; */
  }
}
@media (max-width: 725px) {
  .article-preview {
    flex-direction: column;
    max-width: 320px;
    border-radius: 0 0 10px 10px;
    > img {
      border-radius: 10px 10px 0 0;
      aspect-ratio: 16 / 9;
    }
    .preview {
      border-radius: 0;
      gap: 10px;
    }
    #bottom-section {
      border-radius: 0 0 10px 10px;

      #share-section {
        position: static;
        border-radius: inherit;
        background-color: transparent;
      }
      #share-section::after {
        display: none;
      }
    }
  }
}
